@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import url(http://fonts.googleapis.com/css?family=Lato|Kalam:400,700);

body {
  padding-top: 70px;
  font-family: 'Lato', sans-serif;

}
.title {
  margin-bottom: 40px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.content {
  position: relative;
  text-align: center;
  display: inline-block;
}
a:hover, a:focus {
   text-decoration: none;
}
.container {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 140px;
  text-align: center;
  z-index: 1;
}

#background{
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -10;
  width: 100%;
  height: 100%;
}

.navbar-default .navbar-nav > li > a {
  color: rgb(33, 29, 10);
  font-weight: 700;
}

.navbar-right{
  padding-right: 20px;
}
/* Takiri */
.link--takiri {
  font-size: 7em;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: rgb(33, 29, 10);
}

.link--takiri:hover {
  color: rgb(33, 29, 10);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

}

.footer {

  position: absolute;
  right: 15px;
  bottom: 15px;
  font-weight: 700;
  color: rgb(33, 29, 10);
  text-align: left;
}

.footer > small {
  display: block;
}

.link--takiri::before {
  content: '';
  position: absolute;
  height: 36px;
  width: 120%;
  top: 50%;
  margin-top: -18px;
  left: -10%;
  z-index: -1;
  background: #DDB36D;
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
  transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.link--takiri:hover::before {
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
  transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

.link--takiri span.takiri {
  font-family: 'Kalam', cursive;
  font-size: 20%;
  font-weight: 400;
  position: absolute;;
  color: #FF1440;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translate3d(-10px,-10px,0);
  transform: translate3d(-10px,-10px,0);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  width: 50%;
  right: 0px;
}

.link--takiri:hover span.takiri {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
